.DayCard{
    width: 80%;
    background-color: #89b9ed;
    margin: 2% 2% 2% 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: .3em;

    & > div{
        margin: 0% 2% 2% 2%;
        padding-bottom: 2%;
        & > h5{
            margin: 3% 2% 2% 2%;
        }
    } 
}