.form-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.input-label{
    width: 80%;
}

.submit-button{
    height: 2.1em;
    width: 5.5em;
}
